html,
body {
  height: 100%;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.2rem;
  }

  main {
    padding: 20px 15px;
  }

  button {
    font-size: 0.85rem;
  }
}

body {
  display: flex;
  flex-direction: column;
  background-color: #242423;
}

main {
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  width: min(400px, 90%);
  padding: 30px 20px;
  background-color: #333533;
  margin: auto;
}

img {
  width: 80px;
  margin-bottom: 20px;
}

h1 {
  font-family: "Martian Mono", monospace;
  color: #f5cb5c;
  text-align: center;
}

section {
  width: 100%;
}

form {
  color: #f5cb5c;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.label-form {
  margin-top: 15px;
}

button {
  background-color: #f5cb5c;
  color: #e8eddf;
  border-radius: 25px;
  height: 40px;
  margin-top: 20px;
  font-family: "Martian Mono", monospace;
  border: none;
  cursor: pointer;
}

input {
  border-radius: 20px;
  font-family: "Martian Mono", monospace;
  width: 100%;
  padding: 8px;
  font-size: 0.9rem;
  background-color: #e8eddf;
  border: #f5cb5c solid 3px;
}

p {
    font-family: "Martian Mono", monospace;
    color: #f5cb5c;
}

a {
    color: #e8eddf;
}